{include file="public/header" /}

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-5">
            <h2> 欢迎登陆商户后台 </h2>
            <br>
            <!-- <p>
                <a class="btn btn-success btn-outline" href="http://wpa.qq.com/msgrd?v=3&amp;uin=54460532&amp;site=qq&amp;menu=yes" target="_blank">
                    <i class="fa fa-qq"> </i> 联系技术
                </a>
                <a class="btn btn-white btn-bitbucket" href="http://yusure.cn/" target="_blank">
                    <i class="fa fa-home"></i> 访问博客
                </a>
            </p> -->
        </div>
    </div>

{include file="public/footer" /}